{{!-- <input type="file" accept="video/*" onchange={{action "handleFileInput"}}>
<div class="custom-video-player">
  <video class="video-js vjs-default-skin" controls src={{videoUrl}}></video>
</div> --}}
<iframe width="560" height="315" src="https://www.youtube.com/embed/{{videoId}}" frameborder="0" allowfullscreen></iframe>